<% provide(:title, 'Sign Up') %>

<div class="row">
  <div class="col-md-4">
	</div>
	<div class="col-md-4">
<h1>Sign up</h1>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
  	<div class="well well-small">  
  	<%= f.input :name, required: true, autofocus: true, :input_html => {:size => 35} %>	
    <%= f.input :email, required: true, :input_html => {:size => 35} %>
    </div>
    <div class="well well-small">
    <%= f.input :password, required: true , :input_html => {:size => 35}%>
    <%= f.input :password_confirmation, required: true, :input_html => {:size => 35} %>
    </div>
       	

    <%= f.submit  "Sign Up" , class: "btn btn-large btn-primary" %>
			<div>	
			<%= render "devise/shared/links" %>
			</div>
   </div>
   </div>
<% end %>

