<p id="notice"><%= notice %></p>

<div class="well">
<div class="text-center">	
<p>
  <h1>The problem is...</h1>
   <h1><strong><%= @problem.name %></strong></h1>
</p>
</div>

<p class="text-center lead">
  <%= @problem.description %>
</p>


<div>
  <strong>Added By:</strong>
  <%= @problem.user.name %>
</div>
</div>

<% if current_user == @problem.user %>
<%= link_to 'Edit', edit_problem_path(@problem), class: "btn btn-sm btn-primary" %> |
<%= link_to 'Back', problems_path %> | <%= render 'shared/delete_problem', feed_item: @problem %>
<% else %>
<%= link_to 'Back', problems_path %>
<% end %>
