<li id="<%= feed_item.id %>">
  <table border=1>
    <tr><td>
      <%= feed_item.name %>
    </td></tr>
    <tr><td>
      <span class="content"><%= feed_item.description %></span>
    </td></tr>
    <tr><td>
      <span class="timestamp">
        Posted <%= time_ago_in_words(feed_item.created_at) %> ago.  
      </span>
    </td></tr>
    <tr><td>
      Written by: 
      <% user = User.find(feed_item.user_id) %>
      <%= user.name %>
      <%= gravatar_for(user, size: 20 ) %>
    </td></tr>
  </table>
  <br>
</li>
