<li id="<%= feed_item.id %>">
	<div class="row">
      <div class="col-md-12">
      	<span class="user">
          <strong><%= link_to feed_item.name, feed_item %></strong> 
           &nbsp <%= pluralize(feed_item.solutions.count,"solution") %>
          </span>
		    <span class="content">
          <small><%= feed_item.description %></small></span>
      	<span class="timestamp">
          Added <%= time_ago_in_words(feed_item.created_at) %> ago by:      
          <% user = User.find(feed_item.user_id) %>
          <%= gravatar_for(user, size: 20 ) %>
          <%= user.name %>
        </span>
        <span class="navbar-right">
        	<% if user_signed_in? %>
     	    	<%= render 'shared/voting_buttons'%>
      		<% end %>
        </span>
        <% if current_user == feed_item.user %>
          <%= render 'shared/delete_problem', feed_item: feed_item %>
        <% end %>
		  </div>
  </div>
</li>



